<nav class="navbar bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="homepage">
            <img src="/images/logo.png" width="24" height="24" class="d-inline-block align-text-top">
            Expense Tracker
        </a>
        <div class="flex-shrink-0 dropdown">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
                data-bs-toggle="dropdown">
                <img src="/images/person.jpg" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu dropdown-menu-end text-small shadow" style="">
                <li><a class="dropdown-item" href="/profile">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/signout">Sign out</a></li>
            </ul>
        </div>
    </div>
</nav>