<html>
    
<head>
    <title>Expense Tracker</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">

</head>
    
    <body>
        <div class="box_top">
            <h1>Expense Tracker</h1>
            <img id = "logo" src="/images/logo.png"/> 
        </div>
        
        <div class="box_page_label">
            <h2>Profile</h2>
        </div>
        
        <div class="box_main">
            <div class="box_profile">
                <table>
                    <tr>
                        <td>Username</td>
                        <td id="username"></td>
                    </tr>
                    <tr>
                        <td>First Name</td>
                        <td id="fname"></td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td id="lname"></td>
                    </tr>
                    <tr>
                        <td>Birthdate</td>
                        <td id="bday"></td>
                    </tr>
                </table>
                <div class="box_pad">
                    <a href="/editprofile">Edit your profile</a>
                </div>
            </div>
            <a href="/homepage">Home</a>
        </div>
        
    </body>
    
</html>