body {
    background: #262729;
    color: #bbc3c8; 
    font-family: 'Verdana', sans-serif; 
    font-size: 16px; 
}

.box_top {
    margin: 40px 100px 0 100px;
    border-bottom: 10px solid white;
    width:88.5%;
}

.box_main {
    width:88.5%;
    position:absolute;
    margin: 0 100px 0 100px;
    height: 60%;
}

.box_bullet {
    width:50%;
    margin:auto;
    position:relative;
    display: block;
    padding:30px;
}

.box_pad {
    padding: 25px 0 0 0;
}

.box_center {
    position:relative;
    padding:150px;
    text-align:center;
}

.box_profile{
    padding: 100px;
}

.box_page_label{
    margin: 40px 100px 0 100px;
}

h1 { 
    color: #c9d0d4; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 46px; 
    font-weight: 100;
    line-height:0px;
    display: inline-block;
}

#logo{
    object-fit:contain;
    width: 50px;
    height: 40px;
    display:inline;
}
h2 {
    color: #c9d0d4; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 35px; 
    font-weight: 100;
    line-height:0px;
}

h3 {
    color: #c9d0d4; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 25px; 
    font-weight: 100;
    line-height:0px;
}

a {
    color: #f7d292;
}   

td{
    width:300px;
    height: 80px;
    border-bottom: 4px solid white;
}
table{
    border-spacing: 0;
}

.entrylist {
    list-style-type: none;
    padding: 0;
    width:88.5%;
    position:absolute;
    margin: 0 100px 0 100px;
    height: 60%;
}
  
.entrylist li {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    color: #333;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
    text-transform: uppercase;
}

.error {
    color: red;
}

#fname {
    text-transform: capitalize;
}

#lname {
    text-transform: capitalize;
}