.top-element-margin {
    margin-top: 20px;
}

.branding-background {
    background: rgb(227, 149, 142)
}

/* .portrait-width {
    max-width: 1000px;
} */

.profile-pic-margin {
    margin-top: 20px;
    margin-bottom: 20px;
}